body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

[class*="text"] {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

[class^="square"] {
    min-width: 100px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    margin: 1px;
}

[class*="rounded"]{
    border-radius: 10px;
}

[class^="wrapper"]{
    background-color: white;
    display: flex;
    flex-direction: column;
}

[class*="container"] {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

[class*="vertical-container"] {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: start;
}

[class*="horizontal-container"] {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}

.tree {
    height: 90%;
}
